h1 {
    font-family: Andale Mono, monospace;
    font-size: 3vh;     
}

.row {
    padding-left: 20px auto;
}

* {
    padding: 5px auto;
    margin: 5px auto;
}

#searchMovie {
    width: 100%;
}

.headerSection {
    background-color: #ccd1d9;
    border-radius: 4px auto;
}